<h1>New post!</h1>

<form action="/posts" method="POST">
    <div><input type="text" placeholder="Title" name="title"></div>
    <div><input type="text" placeholder="Price" name="price"></div>
    <div><textarea placeholder="Description" name="description"></textarea></div>
    <div><input type="text" placeholder="Location" name="location"></div>
    
    <input type="submit">
</form>

