<h1>New post!</h1>

<form action='/posts' method='POST'>
    <div><input type='text' placeholder='Title' name='post[title]'></div>
    <div><input type='text' placeholder='Price' name='post[price]'></div>
    <div><textarea placeholder='Description' name='post[description]'></textarea></div>
    <div><input type='text' placeholder='Location' name='post[location]'></div>
    
    <input type='submit'>
</form>

